{% extends "base_goods.html" %}


{% block title %}
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/register.js"></script>
    <script>
        $(function(){
            $(".add_goods").click(function () {
                var goods_id = $(this).attr("value");
                $.get("/cart/good_data/",{"goods_id":goods_id,"goods_num":"1"});

            });
            $(".up").click(function () {
                console.log("{{ page_id }}");
                if("{{ page_id }}"=="1"){

                    return false
                }
            });

            $(".next").click(function () {
                console.log("{{ page_id }}");
                if("{{ page_id }}">="{{ page_sum }}"){

                    return false
                }
            });
            $.get("/cart/count/",function (data) {
                $("#show_count").html(data.count)
            })

        })

    </script>

{% endblock title %}

{% block body %}



    <div class="navbar_con">
        <div class="navbar clearfix">
            <div class="subnav_con fl">
                <h1>全部商品分类</h1>
                <span></span>
                <ul class="subnav">
                    <li><a href="/list1/１_1" class="fruit">新鲜水果</a></li>
                    <li><a href="/list2/１_1" class="seafood">海鲜水产</a></li>
                    <li><a href="/list3/１_1" class="meet">猪牛羊肉</a></li>
                    <li><a href="/list4/１_1" class="egg">禽类蛋品</a></li>
                    <li><a href="/list5/１_1" class="vegetables">新鲜蔬菜</a></li>
                    <li><a href="/list6/１_1" class="ice">速冻食品</a></li>
                </ul>
            </div>
            <ul class="navlist fl">
                <li><a href="/">首页</a></li>
                <li class="interval">|</li>
                <li><a href="">手机生鲜</a></li>
                <li class="interval">|</li>
                <li><a href="">抽奖</a></li>
            </ul>
        </div>
    </div>

    <div class="breadcrumb">
        <a href="/reset/">全部分类</a>
        <span>></span>
        <a href="">{{ goodlist1.ttitle }}</a>
    </div>

    <div class="main_wrap clearfix">
        <div class="l_wrap fl clearfix">
            <div class="new_goods">
                <h3>新品推荐</h3>
                <ul>

                    {% for i in goods_new %}
                        <li>
                            <a href="#"><img src="/static/images/{{ i.gpic }}"></a>
                            <h4><a href="#">{{ i.gtitle }}</a></h4>
                            <div class="prize">￥{{ i.gprice }}</div>
                        </li>

                    {% endfor %}


                </ul>
            </div>
        </div>

        <div class="r_wrap fr clearfix">
            <div class="sort_bar">
                <a href="/list{{listid}}/1_1/" {%if sort_id == "1"%}class="active"{% endif %}>默认</a>
                <a href="/list{{listid}}/1_3/" {%if sort_id == "3"%}class="active"{% endif %}>价格</a>
                <a href="/list{{listid}}/1_2/" {%if sort_id == "2"%}class="active"{% endif %}>人气</a>
            </div>

            <ul class="goods_type_list clearfix">

                {% for i in goods_list %}
                    <li>
                        <a href="/detail{{listid}}/{{ i.id }}"><img src="/static/images/{{ i.gpic }}"></a>
                        <h4><a href="/detail{{listid}}/{{ i.id }}">{{ i.gtitle }}</a></h4>
                        <div class="operate">
                            <span class="prize">￥{{ i.gprice }}</span>
                            <span class="unit">{{ i.gprice }}/500g</span>
                            <a href="#" class="add_goods" value="{{ i.id }}" title="加入购物车"></a>
                        </div>
                    </li>

                {% endfor %}

            </ul>


            <div class="pagenation">
                <a class="up" href="{{ uplist }}" >上一页</a>

                {% for i in pagelist %}
                    <a class="list_range" href="/list{{listid}}/{{i}}_{{sort_id}}">{{ i }}</a>
                {% endfor %}
                <a class="next" href="{{ nextlist }}" >下一页></a>
            </div>
        </div>
    </div>
    <script></script>
{% endblock body %}