{% extends 'base.html' %}
{% block title %}
	<title>天天生鲜-注册</title>
{% endblock title%}

{% block head %}
	<script type="text/javascript" src="/static/js/register.js"></script>
    <script>
        $(function () {
            // 验证码的点击图片更换
            $('#img').css('cursor','pointer').click(function () {
                $('#img').prop('src',$('#img').prop('src')+1)
            });


            // 用户名输入框失去焦点时
            $('#user_name').blur(function () {
                // 取出用户名
                var name = $('#user_name').val();
                // 把用户名传到视图中
                $.get('/user/check_user/',{'user_name':name},function (data) {
                    // 如果已存在则提示已存在,
                    if(data.check=='yes'){
                        $('#user_name').next().html('用户名已存在');
			            $('#user_name').next().show();

                    }
               });
            });
            // 邮箱输入框失去焦点时
            $('#email').blur(function () {
                // 取出邮箱
                var email = $('#email').val();
                // 把邮箱传到视图中
                $.get('/user/check_email/',{'email':email},function (data) {
                    // 如果已存在则提示已存在,
                    if(data.check=='yes'){
                        $('#email').next().html('邮箱已存在');
			            $('#email').next().show();

                    }


                });
            });


            $('#user_name').focus(function () {
                $('#user_name').next().hide();
            });
            $('#pwd').focus(function () {
                $('#pwd').next().hide();
            });
            $('#email').focus(function () {
                $('#email').next().hide();
            });
            $('#vyzm').focus(function () {
                $('#vyzm').next().hide();
            });

            // 如果用户名存在视图跳转回来时显示
            if({{ is_name|default:0 }}==1){
                $('#user_name').next().html('用户名已存在');
                $('#user_name').next().show();
                error_name = true;
            }
            // 如果邮箱存在也在视图跳转回来时显示
            if({{ is_email|default:0 }}==1){
                $('#email').next().html('邮箱已存在');
                $('#email').next().show();
                error_email = true;
            }

        })
    </script>
{% endblock head%}


{% block body %}
	<div class="register_con">
		<div class="l_con fl">
			<a class="reg_logo"><img src="/static/images/logo02.png"></a>
			<div class="reg_slogan">足不出户  ·  新鲜每一天</div>
			<div class="reg_banner"></div>
		</div>

		<div class="r_con fr">
			<div class="reg_title clearfix">
				<h1>用户注册</h1>
				<a href="/user/login/">登录</a>
			</div>
			<div class="reg_form clearfix">
				<form action="/user/register1/" method="post" class="myform">
				<ul>
					<li>
						<label>用户名:</label>
						<input type="text" name="user_name" id="user_name">
						<span class="error_tip" >提示信息</span>
					</li>
					<li>
						<label>密码:</label>
						<input type="password" name="pwd" id="pwd">
						<span class="error_tip">提示信息</span>
					</li>
					<li>
						<label>确认密码:</label>
						<input type="password" name="cpwd" id="cpwd">
						<span class="error_tip">提示信息</span>
					</li>
					<li>
						<label>邮箱:</label>
						<input type="text" name="email" id="email">
						<span class="error_tip">提示信息</span>
					</li>


                    <li class="yzm">
                        <label>验证码</label>
                        <img src="/user/verify_code/?" class="fr" id="img" >
                        <input type="text" name="yzm_value" id="vyzm" placeholder='点击图片刷新'>
                        <span class="error_tip">提示信息</span>
                    </li>


					<li class="agreement">
						<input type="checkbox" name="allow" id="allow" checked="checked">
						<label>同意”天天生鲜用户使用协议“</label>
						<span class="error_tip2">提示信息</span>
					</li>
					<li class="reg_sub">
						<input type="submit" value="注 册" name="" id="submit">
					</li>
				</ul>
				</form>
			</div>

		</div>

	</div>
{% endblock body %}
